.login-wrapper {
    display: flex;
    flex-direction: row;
}

.login-wrapper .login-slide {
    padding: 5em 5em;
    border: 1px solid chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.error-message {
    position: absolute;
    bottom: -50px;
    animation: flash cubic-bezier(0.55, 0.055, 0.675, 0.19) .5s;
}

@keyframes flash {
    from {
      color: white;
    }
  
    to {
      color: chartreuse;
    }
  }